# This Python file uses the following encoding: utf-8
{{ if .Module }}

{{- if .ImportQtCore }}
from {{ .Module }} import QtCore
{{- end }}
{{- if .ImportQtWidgets }}
from {{ .Module }} import QtWidgets
{{- end }}
{{- if .ImportQtQuick }}
from {{ .Module }} import QtQuick
{{- end }}

{{- end }}
{{ if .BaseClass }}
class {{ .ClassName }}({{ .BaseClass }}):
{{- else }}
class {{ .ClassName }}:
{{- end }}
    def __init__(self):
        pass

