// Qt License Template Example <Edit this file as needed>
//
// Special Keywords:
// - Year = {{ .Year }}, Month = {{ .Month }}, Day = {{ .Day }},
// - Date = {{ .Date }}
// - User = {{ .User }}
// - FileName = {{ .FileName }}
// - ClassName = {{ .ClassName }}
//
// Environment Variables:
// - call GetEnv: {{ "HOME" | qEnv }}
